section {
  margin: 40px auto;
  padding: 20px;
  max-width: 1000px;
  text-align: center;
}

.about img {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 10px;
}

.products img,
.projects img {
  width: 200px;
  margin: 10px;
  border-radius: 8px;
}

.videos video {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background-color: #111;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
}

body {
  background-color: #fff8dc; /* Moderate Yellow */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
